<div class="dokk1-text-and-image is-editor"
     data-ng-style="{'font-size': theStyle.fontsize, 'width': theStyle.width, 'height': theStyle.height, 'background-color': ikSlide.options.bgcolor}">
  <div class="dokk1-text-and-image--left">
    <textarea auto-grow class="dokk1-text-and-image--headline-input has-placeholder" data-ng-trim="false" placeholder="Tilføj overskrift" data-ng-model="ikSlide.options.title" spellcheck="false"></textarea>
    <textarea auto-grow class="dokk1-text-and-image--text-input has-placeholder" data-ng-trim="false" placeholder="Tilføj tekst" data-ng-model="ikSlide.options.text" spellcheck="false"></textarea>
  </div>
  <div class="dokk1-text-and-image--right">
    <img data-ng-src="{{ikSlide.currentImage}}" style="background-color: red">
  </div>
</div>
